.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 1em;
    margin-bottom: 2em;
    width: 250px;
    border-radius: 1em;
    background-color: transparent;
    color: #222;
    box-shadow: 3px 3px 6px 0 #00000084;
    cursor: pointer;
    transition: ease .3s;
}
.card:hover {
    box-shadow: 5px 5px 12px 0 #00000084;
}
.card .id {
    margin: 1em 0;
    background-color: #E33d33;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .title {
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: 1.4em;
}
.card .btn {
    text-decoration: none;
    border: 1px solid #E33d33;
    background-color: #fff;
    color: #222;
    padding: .7em 1.2em;
    border-radius: 5px;
    font-weight: bolder;
    transition: .4s;
}
.card .btn:hover {
    background-color: #E33d33;
    color: #fff;
}